@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base --- */

@layer base {
  body,
  pre {
    font-family: "Arial", sans-serif;
    @apply text-base text-gray-800 font-normal;
  }
}

/* --- Components --- */

@layer components {
  .not-visible {
    visibility: hidden;
  }

  .answer-dropzone {
    @apply text-center font-bold border-dashed;
  }

  .question-input-wrapper {
    @apply inline-block relative;
  }

  .hidden-text {
    @apply absolute top-0 left-0 whitespace-pre;
    visibility: hidden;
  }

  .question-input,
  .answer-dropzone {
    @apply inline-block min-w-32 max-w-xl h-6 px-2 border border-gray-500 text-dark rounded outline-none placeholder:text-center placeholder:text-dark placeholder:font-bold focus:border-2 focus:border-blue-500;
  }

  .question-input.active {
    @apply border-2 border-blue-500;
  }

  .drag-over {
    @apply !border-dashed !border-blue-500 bg-gray-100;
  }

  .filled {
    @apply min-w-max font-normal cursor-move bg-white border-solid border-blue-500;
  }

  .active {
    @apply border-blue-500;
  }
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-7xl w-full px-5 mx-auto;
  }
}
