.bar-loader {
  --c: no-repeat linear-gradient(#e31837 0 0);
  background: var(--c), var(--c), #e5e7eb;
  background-size: 60% 100%;
  border-radius: 100px;
  animation: l16 2s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.bar-loader-secondary {
  --c: no-repeat linear-gradient(#3b82f6 0 0);
  background: var(--c), var(--c), #e5e7eb;
  background-size: 60% 100%;
  border-radius: 100px;
  animation: l16 2s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.spin-loader {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #0000;
  border-right-color: #3b82f6;
  position: relative;
  animation: l24 1s infinite linear;
}

.spin-loader:before,
.spin-loader:after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.spin-loader:after {
  animation-duration: 4s;
}

@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
